#jinja2: trim_blocks: "true", lstrip_blocks: "false"
apiVersion: v1
kind: Pod
metadata:
  name: envars-test-pod
spec:
  containers:
  - name: envars-test-container
    image: nginx
    env:
    {% if containers.secret_env is defined and kubernetes.secret is defined %}
    {% for env in containers.secret_env.splitlines() %}
      - name: {{ env.split('=')[0] }}
        valueFrom:
          secretKeyRef:
            name: {{ kubernetes.secret }} 
            key: {{ env.split('=')[0] }}
    {% endfor %}
    {% endif %}
    {% if containers.env is defined %}
    {% for env in containers.env %}
      - name: {{ env.name }}
        value: {{ env.value }}
    {% endfor %}
    {% endif %}
  restartPolicy: Never